@(student: models.Student, loginForm: DynamicForm, loginFail: Boolean, registerForm:
Form[models.Student], registerFail: Boolean, registerSucceed: Boolean)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Register for TextEx",
"Register for Free!", student, loginForm, loginFail) {
<!-- Body Content -->
<div class="row-fluid landing-top-row">
  <div class="controls control-group">
    <div
      class="alert @if(!registerFail && !registerSucceed) {hide} @if(registerFail) {alert-error} @if(registerSucceed){alert-success}" id="messageAlert">
      @if(registerFail){There are errors in the form.} @if(registerSucceed){Successfully
      registered!}
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
  </div>
  @helper.form(action = routes.Student.newStudent(), 'id -> "registerForm") {
  @helper.inputText(registerForm("firstName"), '_label -> "First Name", 'id -> "firstName")
  @helper.inputText(registerForm("lastName"), '_label -> "Last Name", 'id -> "lastName")
  @helper.inputText(registerForm("studentId"), '_label -> "User Name", 'id -> "userName")
  @helper.inputText(registerForm("email"), '_label -> "E-Mail", 'id -> "email")
  @helper.inputPassword(registerForm("password"), '_label -> "Password", 'id -> "password")
  @helper.inputPassword(registerForm("confirmPassword"), '_label -> "Confirm Password", 'id -> "confirmPassword", 'name -> "confirmPassword")
  <div class="controls control-group">
    <input type="submit" class="btn btn-primary" id="registerSubmit">
  </div>
  }
</div>
}
